backend/pacientes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://localhost/pacientes"
    targetNamespace="http://localhost/pacientes">

    <types>
        <xsd:schema targetNamespace="http://localhost/pacientes">

            <!-- Paciente sin ID (para crear) -->
            <xsd:complexType name="PacienteSinID">
                <xsd:sequence>
                    <xsd:element name="nombre" type="xsd:string"/>
                    <xsd:element name="apellido" type="xsd:string"/>
                    <xsd:element name="documento" type="xsd:string"/>
                    <xsd:element name="edad" type="xsd:int"/>
                    <xsd:element name="sexo" type="xsd:string"/>
                    <xsd:element name="telefono" type="xsd:string"/>
                    <xsd:element name="direccion" type="xsd:string"/>
                    <xsd:element name="fecha_registro" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Paciente con ID -->
            <xsd:complexType name="Paciente">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int"/>
                    <xsd:element name="nombre" type="xsd:string"/>
                    <xsd:element name="apellido" type="xsd:string"/>
                    <xsd:element name="documento" type="xsd:string"/>
                    <xsd:element name="edad" type="xsd:int"/>
                    <xsd:element name="sexo" type="xsd:string"/>
                    <xsd:element name="telefono" type="xsd:string"/>
                    <xsd:element name="direccion" type="xsd:string"/>
                    <xsd:element name="fecha_registro" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Lista -->
            <xsd:complexType name="PacientesList">
                <xsd:sequence>
                    <xsd:element name="paciente" type="tns:Paciente" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </types>

    <!-- Mensajes -->
    <message name="createPatientRequest">
        <part name="data" type="tns:PacienteSinID"/>
    </message>
    <message name="createPatientResponse">
        <part name="return" type="xsd:int"/>
    </message>

    <message name="getPatientsRequest"/>
    <message name="getPatientsResponse">
        <part name="return" type="tns:PacientesList"/>
    </message>

    <message name="getPatientRequest">
        <part name="id" type="xsd:int"/>
    </message>
    <message name="getPatientResponse">
        <part name="return" type="tns:Paciente"/>
    </message>

    <!-- CORRECCIÓN IMPORTANTE -->
    <message name="updatePatientRequest">
        <part name="data" type="tns:Paciente"/>
    </message>

    <message name="updatePatientResponse">
        <part name="return" type="xsd:boolean"/>
    </message>

    <message name="deletePatientRequest">
        <part name="documento" type="xsd:string"/>
    </message>
    <message name="deletePatientResponse">
        <part name="return" type="xsd:boolean"/>
    </message>

    <portType name="PacientesPortType">

        <operation name="createPatient">
            <input message="tns:createPatientRequest"/>
            <output message="tns:createPatientResponse"/>
        </operation>

        <operation name="getPatients">
            <input message="tns:getPatientsRequest"/>
            <output message="tns:getPatientsResponse"/>
        </operation>

        <operation name="getPatient">
            <input message="tns:getPatientRequest"/>
            <output message="tns:getPatientResponse"/>
        </operation>

        <operation name="updatePatient">
            <input message="tns:updatePatientRequest"/>
            <output message="tns:updatePatientResponse"/>
        </operation>

        <operation name="deletePatient">
            <input message="tns:deletePatientRequest"/>
            <output message="tns:deletePatientResponse"/>
        </operation>

    </portType>

    <binding name="PacientesBinding" type="tns:PacientesPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="createPatient">
            <soap:operation soapAction="createPatient"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>

        <operation name="getPatients">
            <soap:operation soapAction="getPatients"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>

        <operation name="getPatient">
            <soap:operation soapAction="getPatient"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>

        <operation name="updatePatient">
            <soap:operation soapAction="updatePatient"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>

        <operation name="deletePatient">
            <soap:operation soapAction="deletePatient"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>

    </binding>

    <service name="PacientesService">
        <port name="PacientesPort" binding="tns:PacientesBinding">
            <soap:address location="http://localhost/pacientes_soap/backend/server.php"/>
        </port>
    </service>

</definitions>
